<configuration>
  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="appName"/>
  <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="INFO"/>
  <springProperty scope="context" name="maskLog" source="logging.masklog.keys" defaultValue=""/>




  <root level="${rootLevel}">
    <springProfile name="dev,prd">
      <appender-ref ref="ERROR-FILE"/>
    </springProfile>
    <springProfile name="dev,prd">
      <appender-ref ref="STDOUT"/>
    </springProfile>
  </root>

  <logger name="com.hisun.lemon.framework.aop.ControllerAspect" level="INFO" additivity="false">
    <springProfile name="dev,prd">
      <appender-ref ref="STDOUT"/>
    </springProfile>
  </logger>



</configuration>
